body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}


/*--------Bandeau/navbar----------*/

.pharmacie_titre{
    text-decoration:none;
    color: white;
}
.pharmacie_titre:hover{
    text-decoration:none;
    color: white;
}
.bandeau {
    display: flex;
    border: 2px solid #2ed573;
    text-align: center;
    background-color: #78e08f;
    width: 100%;

    font-family: 'Srisakdi', cursive;
    min-height: 40px;
    z-index: 10;
}

.nom {
    /* border: 2px solid red; */
    width: 50%;
    margin: 10px 70px 0 230px;
}

.logo {
    background-image: url("img/Logo-Pharmacie.png");
    background-repeat: no-repeat;
    /* border:2px solid grey; */
    height: 70px;
    width: 88px;
    margin-left: 8px;
}

.sous_bandeau {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    background-color: #222f3e;
    /* border: 3px solid red; */
    /* box-shadow: #2ed573; */
    width: 100%;
    min-height: 20px;

}


/*--------Mon compte----------*/

.member-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7vh;
    width: 17vw;
    position: relative;
    border: 2px solid blue;

}

.fenetre {
    display: flex;
    position: relative;
    top: 210px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.30s;
    width: 240vw;
    height: 60vh;
    flex-wrap: wrap;
    background-color: #dfe6e9;
    border-radius: 4px;
    -webkit-box-shadow: -1px 5px 15px 5px #000000;
    box-shadow: -1px 5px 15px 5px #000000;
    z-index: 2;
}

.ok {
    padding-left: 7px;
}
.connecter{
    margin-left: 25%;
    color:white;
    background-color: #2ff086;
    font-size: 15px;
}

.compte {
    position: absolute;
    width: 160px;
    background-color: #222f3e;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 1px;
    cursor: pointer;
}

.fenetre.open {
    opacity: 1;
    visibility: visible;
}

.fermer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: darkslategray;
}

span:hover {
    color: purple;
}

.inscription_btn:hover{
    text-decoration:none;
    color:purple;
}

/*--------titre/connexion----------*/

.member {
    font-size: 15px;
    /* border:1px solid green; */
    width: 100%;
    height: 15%;
    text-align: center;
}

#form_connect {
    display: flex;
    /* border:1px solid orangered; */
    font-size: 12px;
    height: 45%;
}

.taille {
    width: 85%;
    padding: 3px;
    margin-left:3%;
}

.inscription_btn {
    border: 3px solid grey;
    width: 130%;
    min-height: 20%;
    border-style: ridge;
    color: white;
    background-color: #2ed573;
    padding: 5px;
}

a.inscription_btn {
    text-decoration: none;
}

.creation {
    border-top: 1px solid grey;
    width: 120%;
    height: 40%;
    text-align: center;
}


/*--------Barre de recherche----------*/

.barre {
    min-height: 7vh;
    width: 270px;
    border: 2px solid yellow;
    display: block;
    flex-wrap: wrap;
    margin-top: 3px;
    /* margin-right: 25%; */

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

#site-search {
    width: 180px;
}

.recherche {
    width: 80px;
    background-color: #222f3e;
    margin-top: 2px;
    font-size: 24px;
    border:1px solid red;
    position: absolute;
    /* right: 320px; */


}


/*--------Menu-hamburger----------*/

.navigation {
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: white;
}

#menuToggle {
    position: absolute;
    z-index: 1;
    /* display: block; */
    top: 73px;
    left: 50px;
    max-width: calc(100% - 50px);
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgba( 34, 47, 62, 0.8);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #222f3e;
}


/*
 * But let's hide the middle one.
 */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 120px;
    margin-top: 74px;
    background-color: rgba(189, 195, 199, 0.8);
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 7px 0;
    font-size: 22px;
}


/*
 * And let's slide it in from the left
 */

#menuToggle input:checked~ul {
    transform: none;
}


/*--------Page contacts----------*/

.row-container {
    display: flex;
    /* background-image: url(./img/feuille.jpg); */
    /* background-size: cover; */
    padding-top: 120px;
    min-height: calc(100vh - 60px);
}

#box {
    flex-basis: 33%;
    margin-right: 48px;
    height:550px;
    border: 5px solid #2f3640;
    border-radius:5%;
}

.coordonnees {

    justify-content: center;
    text-align: center;
    vertical-align: baseline;
    font-size: 120%;
}

.horaires {
    /* border: 2px solid gray; */
    text-align: center;
    font-size: 25px;
    color: white;
    background-color:#2f3640;

}

.map-wrap {
    /* border: 1px solid black; */
    width: 100%;
    height: 300px;
    margin: auto 0;
    position: relative;

}

.map {
    width: 100%;
    height: 100%;
}

.formu {
    flex-basis: 70%;
}


/*--------Page footer----------*/

.footer {
    display: flex;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    margin-top: 30px;
}

.contact_foot {
    border-left: 2px solid white;
    width: 15%;
    text-align: center;
    margin-left: 230px;
}

.contact_footer {
    width: 20%;
    margin-left: 15px;
}

.horaires_footer {
    /* border: 2px solid purple; */
    margin-left: 70px;
}

.margin_top {
    margin-top: 5px;
}


/*--------Page Phytothérapie----------*/

.title {
    /* border: 2px solid black; */
    width: 70%;
    text-align: center;
    margin: 2% auto;
}

.phytart {
    border: 2px solid greenyellow;
    width: 50%;
    height:100%;;
    margin: 10% auto;
}

.phytart p {
    display: block;
    flex-wrap: wrap;
}

.art {
    /* border: 2px solid red; */
    height: 50%;
    width: 30%;
    float: right;
}

.phyto_big_part {
    margin-left: 25%;
    /* border: 2px solid red; */
}

tr {
    border: 1px solid grey;
}

.ligne_trois {
    background-color: #b8e994;
}

.ligne_quatre {
    background-color: #78e08f;
}

.div_names{
    margin-top:3%;

}
/*--------Page Homéopathie----------*/

.homeoT {
    color: #fab1a0;
    text-align: center;
}

.artHomeo {
    border: 3px solid pink;
    overflow: hidden;
    vertical-align: middle;
    width: 85%;
    margin: 8% auto;
}

.artHomeo p {
    display: block;
    flex-wrap: wrap;
}

.homeo_img {
    float: left;
    width: 50%;
}

.homeoprod_parts {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    margin-top: 10%;
}

#specifiques,
#quotidiens,
#femme,
#junior,
#stress,
#dermato,
#hiver,
#ete {
    border: 2px solid darkslategray;
    margin-top: 20px;
    margin-left: 7px;
}

th {
    border: 1px solid grey;
}

.ligne_une {
    background-color: #f78fb3;
}

.ligne_deux {
    background-color: #f8a5c2;
}


/*--------Page home----------*/

.txt {
    display: flex;
    border: 5px solid #78e08f;
    width: 60%;
    height: 80%;
    margin: auto;
}

.utiles {
    display: flex;
    border: 3px solid #222f3e;
    border-radius: 3px;
    width: 100%;
    height: 80%;
    justify-content: center;
    background-image: url("img/banderole.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: none;
}

#lien {
    text-decoration: none;
    margin-left: 18%;
    color: #1e272e;
    margin-top:2%;
}

.text_utiles {
    /* border:1px solid palevioletred; */
    color: #1e272e;
    z-index: 5;
    margin-left: 30px;
}


/*--------Page Cosmetologie----------*/

.cosmo {
    margin-top: 18px;
    text-align: center;
}

.navbar_cosmeto {
    border: 4px solid rgb(43, 187, 173);
    border-radius: 15px;
    width: 38%;
    background-color: rgb(43, 187, 173);
    margin: 0 auto;
    color: white;
    margin-top: 30px;
}

.gammes_names {
    margin-top: 4%;
    border: 2px solid #444;
    width: 80%;
    margin-left: 10%;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

.contenu {
    padding: 0 15px;
    display: none;
    overflow: hidden;
    background-color: #f1f2f6;
}


/*--------Page Inscription----------*/

#titre_insc {
    text-align: center;
    margin-top: 5px;
}

.conteneur_inscription {
    margin-top: 50px;
}

.conteneur_inscription h1 {
    margin-bottom: 20px;
}

.nom_insc {
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    outline: 0;
    border: 1px solid rgb(209, 194, 194);
    width: 100%;
}

.conteneur_inscription label,
.conteneur_inscription input {
    display: table-cell;
}

.nom_place {
    display: table-row;
    /* margin-bottom: 10px; */
}

.conteneur_inscription form {
    /* border:4px solid #00b894; */
    background: rgba(46, 204, 113, 0.7);
    margin: auto;
    width: 80%;
    padding: 43px;
}

#enregistrer_btn {
    color: white;
    border-radius: 3px;
    margin-left: 42%;
    margin-top: 25px;
    background-color: #7f8c8d;
    font-size: 25px;
}


/*--------Page Services----------*/

.services {
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
}

.infirmieres {
    border: 2px solid palegreen;
}

.medecins {
    border: 2px solid pink;
}

.specialistes {
    border: 2px solid palevioletred;
}

.informations_utiles{
    text-align: center;

}
.autres{
    border: 2px solid rgb(0, 255, 179);
    background-color: #7bed9f;
    width:30%;
    color:darkslategray;
    border-radius:36%;
    margin:0 auto;


}

.carte {
    border: 2px solid lightskyblue;
    background-image: url("img/carte.png");
    width:600px;
    height:400px;
    margin:0 auto;
    margin-top:10px;
}
/*--------Page Ortho----------*/

.ortho {
    /* border:2px solid khaki; */
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.img_ortho {
    background-image: url("img/mannequin.jpg");
    /* border:2px solid blue; */
    background-repeat: no-repeat;
    width: 600px;
    height: 480px;
    margin: 0 auto;
}

.or {
    text-align: center;
}

.one,
.two {
    /* border: 2px solid orchid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
}

.couchage {
    border: 2px solid palegreen;
    background-image: url("img/couchage.jpg");
    width: 250px;
    height: 250px;
}

.transfert {
    border: 2px solid palegreen;
    background-image: url("img/transfert.jpg");
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 0px 10px 13px -7px #39eb92, -3px 5px 15px 5px rgba(120, 240, 150, 0);
    box-shadow: 0px 10px 13px -7px #2ff086, -3px 5px 15px 5px rgba(141, 255, 169, 0);
}

.renseignements{
    text-align: center;
    margin-top:7px;
    font-size:20px;
    color:#222f3e;

}
a#renseignements{
text-decoration: none;
    color:#222f3e;
    font-weight:bold;
}

a#renseignements:hover{
    color:#222f3e;
    text-decoration: none;
}
.hygiene {
    border: 2px solid palegreen;
    background-image: url("img/hygiene.jpg");
    width: 250px;
    height: 250px;
}

.confort {
    border: 2px solid palegreen;
    background-image: url("img/confort.jpg");
    width: 250px;
    height: 250px;
}

.soins {
    border: 2px solid palegreen;
    background-image: url("img/soins.jpg");
    width: 250px;
    height: 250px;
}

.puericulture {
    border: 2px solid palegreen;
    background-image: url("img/pueri.jpg");
    width: 250px;
    height: 250px;
}

.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*--------Page Veterinaire----------*/

.provet {
    text-align: center;
    margin-top: 2%;
}

.vet {
    margin-top: 7%;
}

/* media query */
/* nav */
@media all and (max-width: 700px){
/* .barre{
    /* margin-right: 40%; */
/* } */ 
#site-search {
    width: 140px;
}

.member-container{
    margin-right: 130px;
}
}

@media all and (max-width: 650px){
.recherche{
        display:none;
    }
}

/*--------Page Univers bébé----------*/

.univ_bebe{
    display:flex;
    border:4px solid darkslategray;
    margin-top:50px;
    flex-direction: column;
    border-radius:2%;
    background-color:#f1f2f6;

}

.univ_mom{

    border:4px solid darkslategray;
    margin-top:40px;
    border-radius:2%;
    background-color:#f1f2f6;
}

.babe_title{
    text-align:center;
    margin-top:20px;
}
.img_bebe{
    background-image: url("img/bebe.jpg");
    width:334px;
    height:223px;
    border:2px solid darkslategray;
    margin-left:70%;
    border-radius:50%;
    border-style:outset;

}

.img_mom{
    background-image: url("img/maman.jpg");
    width:334px;
    height:223px;
    border:2px solid darkslategray;
    margin-left:70%;
    border-radius:50%;
    border-style:outset;
}
.sous-titre{
    margin-left:15px;
}
.mom_text{
    margin-left:5px;
}

.titre{
    margin-top:20px;
    margin-left:5%;
}
